 <head>
         <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Documentation | {{SiteName}} </title>
  <script src="{{Asset_Path}}assets/js/toc_generator.js"></script>   
<link rel="stylesheet" href="{{Asset_Path}}assets/style.css">
</head>
        
        <header>
   <nav>
  {{menu}}
</nav>
      <h1>Documentation</h1>
 
    </header>
<main>
      <fieldset>
        <!--
        Every fieldset must contain a legend. IE barfs if it's not there.
        It's no fun.
        -->
        <legend>Table Of Contents</legend>
        
<!--- id="toc" is populated with TOC via JavaScript file--->       
<ul id="toc">

</ul>


        
        
      </fieldset>
      
      
 {{documenation_file_contents}}
</main>

<footer>
{{footer_contents}}
</footer>   
 <script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag.js"></script> 
        
