<head>
         <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Home | {{Site_Name}}</title>
  
<meta name="description" content="A showcase of Simply Docs by MarketingPipeline built using Simple.CSS">

<!---Main CSS ---->                   
<link rel="preload" href="{{AssetPath}}assets/css/style.min.css" as="style"> 	   
<link rel="stylesheet" href="./assets/css/style.min.css">

         
           
         
<!---Instant.JS---->          
<script src="//instant.page/5.1.1" type="module" integrity="sha384-MWfCL6g1OTGsbSwfuMHc8+8J2u71/LA8dzlIN3ycajckxuZZmF+DNjdm7O6H3PSq"></script>      
         
         

<!---Twemoji---->          
<link rel="preload" href="{{AssetPath}}assets/js/twemoji.min.js" as="script"> 	            
<script src="{{AssetPath}}assets/js/twemoji.min.js"></script>         
         

</head>
        
        <header>
   <nav>
  {{menu}}

</nav>

      <h1>{{Site_Name}}</h1>
 
    </header>
<main>

{{index_file_contents}}
</main>
<a href="https://github.com/MarketingPipeline/Simply-Docs/archive/refs/heads/main.zip"><button>Download This Template</button></a>



<footer>
      {{footer_contents}}
    </footer>
   
 <script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag.js"></script> 
