 <head>
         <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Search |  {{Site_Name}}</title>
<link rel="stylesheet" href="{{AssetPath}}assets/style.css">
</head>
        
        <header>
   <nav>
  {{menu}}
</nav>
      <h1>Search</h1>
 
    </header>
<main>
      <fieldset>
        <!--
        Every fieldset must contain a legend. IE barfs if it's not there.
        It's no fun.
        -->
        <legend>Table Of Contents</legend>
        
      
<ul id="toc">

</ul>


        
        
      </fieldset>
      
      

</main>
<footer>
     {{footer_contents}}
   
 <script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag.js"></script> 
        
