<head><title>{{SiteTitle}} | Authors</title>
            <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/prism.min.js"></script>
{{Facebook_Meta}}         

<!---Instant.JS---->          
<script src="//instant.page/5.1.1" type="module" integrity="sha384-MWfCL6g1OTGsbSwfuMHc8+8J2u71/LA8dzlIN3ycajckxuZZmF+DNjdm7O6H3PSq"></script>         
         	


<!---Twemoji---->          
<link rel="preload" href="{{AssetPath}}assets/js/twemoji.min.js" as="script"> 	            
<script src="{{AssetPath}}assets/js/twemoji.min.js"></script>       
	
<link rel="stylesheet" href="{{AssetPath}}assets/style.min.css">
     </head><header>
<nav>
  
 {{menu}}
</nav>

		    <h1>{{PageTitle}}</h1>
	     
		   
		    </header>
    <main>
<article>

 </article>
    </main>

	 <script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag-GitHub.js"></script> 
<footer>
     {{footer_contents}}
    </footer>	
