<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Blog |  {{Site_Name}}</title>
<meta name="description" content="A showcase of Simply Docs by MarketingPipeline built using Simple.CSS">

    <!---Instant.JS---->          
<script src="//instant.page/5.1.1" type="module" integrity="sha384-MWfCL6g1OTGsbSwfuMHc8+8J2u71/LA8dzlIN3ycajckxuZZmF+DNjdm7O6H3PSq"></script>         
         
 
<link rel="stylesheet" href="{{AssetPath}}assets/css/style.min.css">
  </head>
<header>
     <nav>
  
 
{{menu}}
</nav>

        <h1>Blog</h1>
      <p>Latest Blog Posts</p>
    </header>


<main>
{{blog_posts}}



</main>

<footer>
     {{footer_contents}}
    </footer>

   
 <script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag.js"></script> 
