<head><title> 404 | {{Site_Name}}</title>
            <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="{{AssetPath}}assets/js/blog/blog-search.min.js"></script>   
{{Facebook_Meta}}         


<link rel="stylesheet" href="{{AssetPath}}assets/css/style.css">
     </head><header>
<nav>
  
 {{menu}}
</nav>

		    <h1>Search Results</h1>
	     
		   
		    </header>
    <main>
<article>

 </article>
    </main>

<footer>
     {{footer_contents}}
    </footer>	
